.jumbo {
    background: linear-gradient(to right, red , yellow);
   color: blue;
   text-align: center;
   padding: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.button {
    margin-top: 20px;
}
.faces {
    position: absolute;
    width: 500px;
    height: 500px;
}
body {
    background-color: black;
}



img {
    position: absolute;
    width: 20%;
    height: auto;
}

#rightSide {
    left: 750px;
    border-left:crimson 1px solid;
    
}
